<%- include('../partials/questions/head') %>
<style>
  * {
    align-items: center;
    justify-content: center;
  }
</style>
<body>
  <div class="main">
    <img src="http://burnie.com/dump/cowbell.gif" alt="cowbell" />
  </div>
</body>
